/* TYPOGRAPHY CLASSES */
body{
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 48px;
    text-align: center;
    /* font-weight: normal; */
}

a{
    font-size: 18px;
    color: #06B596;
    padding-top: 10px;
}

p{
    font-size: 18px;
    text-align: left;
}

.bold{
    font-style: bold;
}

.italic{
    font-style: italic;
}

.underlined{
    text-decoration: underline;
} 

/* LAYOUT CLASSES */
/* Phone */
.container{
    grid-template-rows: 70px 1700px 1fr;
}

/* Tablet */
@media (min-width:600px) and (max-width:900px){
    .container{
        grid-template-rows: 70px 1500px 1fr;
    }
}

/* Desktop */
@media (min-width:901px){
    .container{
        grid-template-rows: 70px 1200px 1fr;
    }
}

.box{
    border: 1px solid red;
}

.container{
    display: grid;
    width: 95%;
    margin: auto;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 100px 40vh 1fr;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft";
}

.header{
    grid-area:hd;
    text-align: center;
}

.content{
    grid-area: main;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* grid-gap: 15px; */
}

.content-box{
    width: 250px;
    height: 150px;
    margin: 15px;
}

.footer{
    grid-area: ft;
    text-align: center;
}

/* ATTRIBUTE CLASSES */
input[type="file"]{
    display: none;
}

.custom-file-upload{
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    background-color: #7DBAE9;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 21px;
}

button:hover{
    background-color: white;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    width: 300px;
    margin: auto;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

figcaption {
    background-color: #222;
    color: #fff;
    padding: 3px;
    text-align: center;
    font-size: 18px;
    letter-spacing: -0.84px;
}
