<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Dog Breed Classifier</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
        <link rel="stylesheet" href="/static/styles.css">
        <!-- Load d3.js -->
        <script src="https://d3js.org/d3.v4.js"></script>
        <!-- Load jquery.js (AJAX) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
    
    <body>
        <h1>Dog Breed Classifier Change</h1>
        <div class = "container">
            <!-- <h1 class="box">Post 1</h1> -->
            <div class = "header">
                <label for="file-upload" class="custom-file-upload">
                    <i></i> Upload Image
                </label>
                <input type="file" id="file-upload">
            </div>
            <div class="content">
                <img class = "content-box" id="blah" src="/static/puppy.jpg" alt="Placeholder Dog Image">
                <div class = "content-box" id="my_dataviz"></div>
            </div>
            <p class="footer">I am a placeholder for the footer.</p> 
        </div>
        </h1>
        <script src="/static/app.js" type="text/javascript"></script>
    </body>
</html>