<!doctype html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dog Breed Classifier</title>
    
        <!-- Bootstrap core CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- Load d3.js -->
        <script src="https://d3js.org/d3.v4.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
        <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
            font-size: 3.5rem;
            }
        }
        </style>

    
        <!-- Custom styles for this template -->
        <link href="/static/sticky-footer-navbar.css" rel="stylesheet">
    </head>

    <body class="d-flex flex-column h-100">
    <!-- Header -->
    <!-- <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Fixed navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        </div>
    </nav>
    </header> -->

    <!-- Main Page Content -->
    <main>
    <section class="container text-center">
        <h1 class="display-2">Dog Breed Classifier</h1>
        <p class="lead text-muted">If the image is a dog, the app will predict the breed of the dog with a certain probability and output the topk (k=5) results. The application handles cases for a dog, person, and not a dog. Using a haarcascade alogrithm the app will detect if there is a person in the image, then return the dog breed that the person looks most likely resembles.</p>
    </section>

    <div class="container-sm col-md-3">
        <div class="row align-items-center">
            <input class="form-control" type="file" name="file" id="inputFile" onchange="preview()">
            <button type="submit" id="upload" class="btn btn-primary mt-2">Submit</button> 
        </div>  
    </div>

        <div class="container">
            <div class="row row-cols-1 row-cols-lg-2">
                <div class="col">
                    <img id="frame" class="img-fluid"/>
                </div>
                <div class="col-lg-5">
                    <p id="is_dog_msg"></p>
                    <div id="my_dataviz"></div>
                </div>
            </div>
        </div>
    
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <p class="text-muted text-center">Made with Pytorch, Flask, Bootstrap, d3.js, and Love.</p>
        </div>
    </footer>

    <!-- Load Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- <script src="/static/app.js" type="text/javascript"></script> -->

    <!--- Custom JS -->
    <script>
        function preview() {
            frame.src = URL.createObjectURL(event.target.files[0]);
        }
    </script>

    <script type="text/javascript">
        $('#inputfile').bind('change', function() {
            let fileSize = this.files[0].size/1024/1024;
            if (fileSize > 1) {
              $("#inputfile").val(null);
              alert('File is too large. Max file size is 1MB.');
              return
            }
  
            let ext = $('#inputfile').val().split('.').pop().toLowerCase();
            if($.inArray(ext, ['jpg','jpeg']) == -1) {
              $("#inputfile").val(null);
              alert('JPEG and JPG files only!');
            }
        });
      </script>

    <script type="text/javascript">
        $(document).ready(function (e) {
            $('#upload').on('click', function () {
                var form_data = new FormData();
                form_data.append('file', document.getElementById('inputFile').files[0])
                
                $.ajax({
                    url: 'upload', // point to server-side URL
                    dataType: 'json', // what to expect back f
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: form_data,
                    type: 'post',
                    success: function (response) { // display success response
                        $('#is_dog_msg').html('');
                        $('#msg').html('');
                        $('#my_viz').html('');
                        // dog detected
                        if (response.is_detected[0].is_dog) {
                            $('#is_dog_msg').html('<p class="h3 text-center">Dog Detected!</p>');
                            // for (let i = 0; i < response.dog_breeds.length; i++) {
                            //     var dog = response.dog_breeds[i].breed;
                            //     var dog_prob = (response.dog_breeds[i].prob * 100).toFixed(2);
                            //     $('#msg').append(dog + ':  ' + dog_prob + '%' + '<br/>');
                            // }
                            loadGraph(response);
                            // no dog detected
                        } else {
                            // human detected
                            if (response.is_detected[1].is_human == true) {
                                $('#is_dog_msg').html('<p class="h3 text-center">Human Detected!</p>');
                            // no human detected
                            } else if (response.is_detected[1].is_human == false){
                                $('#is_dog_msg').html('<p class="h3 text-center">Not a Dog or Human!</p>');
                            }  
                        }
                    },
                    error: function (response) {
                        $('#is_dog_msg').html(response.message); // display error response
                    }
                });
            });
        });
    </script>

    <script>
        function loadGraph (response) {
        
            const margin = {top: 10, right: 10, bottom: 40, left: 130};
            const width = 650 - margin.left - margin.right;
            const height = 400 - margin.top - margin.bottom;
            
            // append the svg object to the body of the page
            var svg = d3.select('#my_dataviz')
                .append('svg')
                    .attr('width', width + margin.left + margin.right)
                    .attr('height', height + margin.top + margin.bottom)
                    .append('g')
                    .attr("transform",
                          "translate(" + margin.left + "," + margin.top + ")");

            var data = response.dog_breeds;

            // creat X and Y scales. Scaleband for bars.
            const x = d3.scaleLinear()
                        // .domain([0, d3.max(data.map(d => (d.prob * 100)))])
                        .domain([0, 100])
                        .rangeRound([0, width])
                        .nice();
            
            const y = d3.scaleBand()
                        .domain(data.map(d => d.breed))
                        .range([0, height])
                        .padding(0.1);

            // add X and Y axis to the SVG object
            const xAxis = svg.append('g')
                            // .attr('class', 'x axis')
                            .attr('transform', 'translate(0,' + height + ')')
                            .attr('font-weight', 'bold')
                            .call(d3.axisBottom(x));
            
            const yAxis = svg.append('g')
                            // .attr('class', 'y axis')
                            .call(d3.axisLeft(y));

            // create bars
            const bars = svg.selectAll('.bar')
                            .data(data)
                            .enter().append('rect')
                            .attr('class', 'bar')
                            .attr('x', function(d) { return x(0); })
                            .attr('width', x(0))
                            .attr('y', d => y(d.breed))
                            .attr('height', y.bandwidth())
                            .style('fill', '#FCAC0D')
                            .style('opacity', 0.9);

            // mouseover event listener
            bars.on('mouseover', function() {
                d3.select(this).style('fill', '#000000').style('opacity', 0.5);
            });

            // mouseout event listener
            bars.on('mouseout', function() {
                d3.select(this).style('fill', '#FCAC0D').style('opacity', 0.9);
            });

            // animate bars
            bars.transition().duration(800)
                .attr('width', d => x((d.prob * 100).toFixed(2)))
                .ease(d3.easeCubic);

            // Apend text to the bars
            const text = svg.selectAll('.prob')
                            .data(data)
                            .enter().append('text')
                            .attr('x', d => x((d.prob * 100).toFixed(2)))
                            .attr('y', d => y(d.breed))
                            .attr('dx', 35)
                            .attr('dy', (y.bandwidth() / 2) + 5)
                            .text(d => (d.prob * 100).toFixed(2) + '%')
                            .style('text-anchor', 'middle')
                            .style('fill', '#000000')
                            .style('font-weight', 'bold');
        }
    </script>

  </body>
</html>
